body {
  display: grid;
  place-content: center;
}
#fileUpload {
  padding: 50px;
  width: 600px;
  margin: auto;
  background: skyblue;
  display: inherit;
  place-content: center;
  gap: 20px;
}
#uploadBtn {
  width: 40%;
  justify-self: center;
}
.container {
  display: flex;
  justify-content: space-between;
}
input,
select {
  width: 40%;
}
