* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
}
#fileUpload {
  display: inherit;
  place-content: center;
  background-color: skyblue;
  padding: 50px;
  gap: 20px;
}
.inputcontainer {
  width: 600px;
  margin: auto;
  display: inherit;
  place-content: center;
  gap: 20px;
}
#uploadBtn {
  width: 40%;
  justify-self: center;
}
#outputDiv {
  width: 600px;
}
.container {
  display: flex;
  justify-content: space-between;
}
input,
select {
  width: 40%;
}
